
/* --------------------------- 
    REGISTRATION PAGE CSS 
--------------------------- */


.error-message {
  margin-top: 2px;
  color: red;
  font-size: 1.2em;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9); /* Fallback color */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 35px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  color: #303643;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#centered-modal {
  text-align: center;
}

.error-list {
  margin-top: 45px;
}

.error-list li {
  color: red;
  text-align: center;
  font-size: 1.6em;
}

.reg-footer {
  float: none;
  margin: auto;
}

.login {
  padding-top: 200px;
  padding-bottom: 200px;
}

.log-in-btn:hover {
  background-color: #ea0d3d;
}

/* ------- Welcome Modal ---------- */

.modal-logo {
  width: 70%;
  border-radius: 5px;
  margin-bottom: 8px;
}

.user-div, .provider-div {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 40px;
}

.user-btn, .provider-btn {
  padding-top: 3em;
  padding-bottom: 3em;
  width: 23rem;
  font-size: 1.3em;
}

.welcome-modal {
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
}

.welcome {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1200px) {
  
  .modal-logo {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 8px;
  }

  .welcome {
    width: 60%;
  }
  
}

@media screen and (max-width: 767px) {

  .welcome {
    width: 90%;
  }

  .user-btn, .provider-btn {
    width: 26rem;
  }

}