/* --------------------------- 
        TEMP HOME PAGE 
--------------------------- */

/* Beauber Black: #030606 */

.temp-homepage {
  background-color: #030606;
}

#homepage-logo {
  height: 8em;
  margin: auto;
}

.hpl {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}


/* --------------------------- 
      REGISTRATION PAGE 
--------------------------- */


.error-message {
  margin-top: 2px;
  color: red;
  font-size: 1.2em;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9); /* Fallback color */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 35px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  color: #303643;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#centered-modal {
  text-align: center;
}

.error-list {
  margin-top: 45px;
}

.error-list li {
  color: red;
  text-align: center;
  font-size: 1.6em;
}

.reg-footer {
  float: none;
  margin: auto;
}

.login {
  padding-top: 200px;
  padding-bottom: 200px;
}

.log-in-btn:hover {
  background-color: #ea0d3d;
}

.follow {
  height: auto; 
  width: auto; 
  max-width: 50px;
}

.foot-social {
  text-align: center;
  margin-top: 50px;
}

.foot-social ul li {
  float: none;
  padding-right: none;
  margin: auto;
  display: inline-block;
}

/* ------- Welcome Modal ---------- */

.modal-logo {
  width: 70%;
  border-radius: 5px;
  margin-bottom: 8px;
}

.user-div, .provider-div {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 40px;
}

.user-btn, .provider-btn {
  padding-top: 3em;
  padding-bottom: 3em;
  width: 23rem;
  font-size: 1.3em;
}

.welcome-modal {
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
}

.welcome {
  background-color: #030606;
  color: white;
}

@media screen and (max-width: 1200px) {
  
  .modal-logo {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 8px;
  }

  .welcome {
    width: 60%;
  }
  
}

@media screen and (max-width: 767px) {

  .welcome {
    width: 90%;
  }

  .user-btn, .provider-btn {
    width: 26rem;
  }

}

/* --------------------------- 
      PROFILE PAGE 
--------------------------- */

.services-modal, .selected-category-modal {
  z-index: 999;
}

.services-modal h2, .selected-category-modal h2 {
  margin-bottom: 20px;
  background-color: black;
  color: white;
  padding: 12px;
  border-radius: 5px;
}

.selected-category-modal h2 {
  text-transform: uppercase;
}

#edit-pencil {
  height: 15px;
  opacity: 0.3;
}

.services-icon {
  height: 125px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: background-color, 1s;
}

.services-icon:hover {
  background-color: grey;
  opacity: 0.3;
}

.service-icon-divs {
  display: inline-block;
}

.centered-description {
  transition: .5s ease;
  opacity: 0;
  top: 55%;
  padding-left: 64px;
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif
}

.service-icon-divs:hover .centered-description {
  opacity: 1;
}

label.service-labels {
  display: block;
  font-size: 16px;
  margin: auto;
  text-align: left;
}

.submit-btn {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

/* -------------------------------------
 CHOOSE SERVICES MODAL RESPONSIVENESS 
 --------------------------------------*/

@media screen and (max-width: 1355px) {
  .choose-services {
    width: 50%;
  }
}

@media screen and (max-width: 1086px) {
  .choose-services {
    width: 60%;
  }
}

@media screen and (max-width: 903px) {
  .choose-services {
    width: 80%;
  }
}

@media screen and (max-width: 534px) {
  .choose-services {
    width: 98%;
  }
}