<!DOCTYPE html>
<html lang="en">

<head>
	<title>Register for a Beauber Account</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">

	<!-- Square favicon below, full B fits in square -->
	<!-- <link rel="icon" type="image/png" sizes="32x32" href="images/b-square.png"> -->
	
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- ALL CSS FILES -->
	<link href="css/materialize.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body data-ng-app="">
	<!--TOP BAR SECTION-->
	<section class="bottomMenu dir-il-top-fix">
		<div class="container top-search-main">
			<div class="row">
				<div class="ts-menu">
					<!--SECTION: LOGO-->
					<div class="ts-menu-1">
						<a href=""><img src="images/beauber-logo.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="tz-register">
	
	<!-- Welcome Modal -->
  <div id="modal" class="modal welcome-modal">
    <div class="modal-content welcome">
    	
  		<img src="images/beauber-logo.png" alt="" class="modal-logo">
      <!-- <h2>BEAUtician + barBER</h2> -->
      <br>
      <h3 style="font-style: italic">Your Go-to Resource to </h3>
      <h3 style="font-style: italic">Find a Beauty or Barber Professional</h3>
      <br>
      <br>
      <h3>I am...</h3>
      <div class="input-field s4 user-div">
				<input type="submit" value="IN NEED OF SERVICES" class="waves-effect waves-light log-in-btn user-btn"> 
			</div>
			<div class="input-field s4 provider-div">
				<input type="submit" value="A BEAUTICIAN OR BARBER" class="waves-effect waves-light log-in-btn provider-btn"> 
			</div>
    </div>
  </div>
  <!-- End of Modal -->

	<!-- Error Modal -->
  <div id="modal" class="modal error-modal">
    <div class="modal-content">
      <h3>There was an issue with your registration:</h3>
      <div class="errors">
        <ul class="error-list">
        </ul>
      </div>
    </div>
  </div>
  <!-- End of Modal -->


		<div class="log-in-pop">
			<div class="log-in-pop-right">
				<h4 id="registration-headline">Create an Account</h4>
				<p>Beauber is coming soon to your neighborhood!</p>
				<form class="s12">
					<div>
						<div class="input-field s12">
							<input type="text" data-ng-model="name1" class="validate" id="firstName">
							<label>First Name</label>
						</div>
							<div id="firstNameErrorMessage" class="error-message"></div>
					</div>
					<div>
						<div class="input-field s12">
							<input type="text" data-ng-model="name2" class="validate" id="lastName">
							<label>Last Name</label>
							<div id="lastNameErrorMessage" class="error-message"></div>
						</div>
					</div>
					<div id="phone-number">
						<div class="input-field s12">
							<input type="tel" maxlength="10" class="validate" id="phoneNumber">
							<label>Phone Number</label>
							<div id="phoneNumberErrorMessage" class="error-message"></div>
						</div>
					</div>
					<div id="zip-code">
						<div class="input-field s12">
							<input type="text" maxlength="5" class="validate" id="zip">
							<label>Zip Code</label>
							<div id="zipErrorMessage" class="error-message"></div>
						</div>
					</div>
					<div id="provider-type">
						<div class="input-field s12">
							<select name="providerType" id="providerType">
								<option value="" selected disabled">Choose a Provider Type...</option>
								<option value="1">Salon</option>
								<option value="2">Independent</option>
							</select>
							<div id="providerTypeErrorMessage" class="error-message"></div>
						</div>
					</div>
					<div>
						<div class="input-field s12">
							<input type="email" class="validate" id="email">
							<label>Email</label>
							<div id="emailErrorMessage" class="error-message"></div>
						</div>
					</div>
					<div>
						<div class="input-field s12">
							<input type="password" class="validate" id="password">
							<label>Password</label>
							<div id="passwordErrorMessage" class="error-message"></div>
						</div>
					</div>
					<div>
						<div class="input-field s12">
							<input type="password" class="validate" id="passwordConfirmation">
							<label>Confirm password</label>
							<div id="passwordConfirmationErrorMessage" class="error-message"></div>
						</div>
					</div>
					<div>
						<div class="input-field s4">
							<input type="submit" value="Register" class="waves-effect waves-light log-in-btn reg-button"> 
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!--FOOTER SECTION-->
	<footer id="colophon" class="site-footer clearfix">
		<div data-section="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-3 foot-logo reg-footer"> 
						<img src="images/beauber-logo.png" alt="logo">
						<!-- <p class="hasimg">Your go-to resource to find a beauty or barber professional.</p>
						<p class="hasimg">Clients: Find a professional near you to provide the specific service you need from hair to nails to makeup to beards...</p>
						<p class="hasimg">Professionals: Connect with clients in your area in need of the specific services you offer.</p> -->
					</div>
				</div>
				<div class="foot-social">
					<h4>Interact with Beauber</h4>
					<ul>
						<li>
							<a target="_blank" href="https://www.instagram.com/beauber.app/"> 
								<img src="images/instagram.png" alt="instagram" class="follow"> 
							</a> 
						</li>
						<li>
							<a href="mailto: support@beauber.app"> 
								<img src="images/email.png" alt="email" class="follow email"> 
							</a> 
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--COPY RIGHTS-->
	<section class="copy">
		<div class="container">
			<p>Copyright © 2018 Beauber LLC &nbsp;All rights reserved. </p>
		</div>
	</section>
	<!--SCRIPT FILES-->
	<script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/materialize.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/register.js"></script>
</body>

</html>